@model OccationViewModel
<form method="post">
    <input type="number" asp-for="Month" placeholder="Month" class="form-control"/>
    <br/>
    <input type="number" asp-for="Day" placeholder="Day" class="form-control"/>
    <br/>
    <button type="submit" class="btn btn-primary">Get Location</button>
</form>


@{
    if (Model != null)
    {
        <listItems asp-items="Model.Occasions" ></listItems>
    }
}
