@model OccationViewModel
<form method="post">
    <input type="number" asp-for="Month" placeholder="Month" class="form-control"/>
    <br/>
    <input type="number" asp-for="Day" placeholder="Day" class="form-control"/>
    <br/>
    <button type="submit" class="btn btn-primary">Get Location</button>
</form>

@{
    if (Model !=null && Model.Occasions != null && Model.Occasions.Count > 0)
    {
        <div class="alert alert-info">
            <ul>
                @{
                    foreach (var occasion in Model.Occasions)
                    {
                        <li>@occasion</li>
                    }
                }
            </ul>
        </div>
    }
}